/* General Home Page CSS */
h2, h3 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    position: relative;
    margin-left: 3em;
}
h3 {
    margin-left: 0;
}
h1{ 
    font-family: "Crimson Text", serif;
    font-weight: 800;
    font-style: normal;
    font-size: xx-large;
}
p {
    font-family: "Playfair Display", serif;
    font-optical-sizing:auto;
    font-size: 15px;
    font-weight: 500;
}

/* Large Movie Container CSS */
.lg-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    display: flex;
    justify-content: right;
    width: 95%;
    margin: auto;
    margin-bottom: 2%;
    height: 30em;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lg-info {
    display: flex;
    max-width: 20%;
    flex-direction: column;
    position:absolute;
    bottom: 1em;
    left: 1em;
    color: black;
    padding: 10px;
    background-color: #f2f2f260;
    max-height: 80%;
    overflow-y: scroll;
}

.lg-desc {
    max-width: 250px;
}

.lg-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.lg-btns {
    margin-top: auto;
    padding-right: 25px;
    padding-bottom: 10px;    
}

.lg-btn {
    position:relative;
    display: inline-flex;
    justify-content: center;
    border: 3px solid #612e29;
    background-color: #8C443E;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    height: 35px;
    padding-top: .5em;
    padding-left: 1em;
    padding-right: 1em;

}
.lg-btn:hover {
    box-shadow: 0 8px 16px 0 #8C443E;
}
#add-list {
    position:relative;
    border: none;
    background-color: #8C443E;
    color: white;
    outline-color: #8C443E;
}

/* Notification */
header {
    position: relative; 
    padding: 10px;
    background-color: #f8f9fa;
  }
  
  .notify-container {
    position: fixed; 
    top: 10px; 
    right: 10px; 
    z-index: 1000; 
  }
  
  .notify-icon {
    font-size: 24px; 
    vertical-align: middle; 
  }
  
  .notification {
    position: absolute;
    top: -10px; 
    right: -10px; 
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 9px;
    min-width: 20px;
    text-align: center;
    line-height: 1.2;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  
  
  @media (max-width: 600px) {
    .notify-container {
      top: 5px; 
      right: 5px; 
    }
  
    .notification {
      top: -5px; 
      right: -5px; 
      font-size: 10px;
      padding: 4px 8px;
    }
  }