/* Large Movie Container CSS */
.lg-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    max-width: 90%;
    margin: auto;
    margin-top: 6%;
    height: 25em;
    position: relative;
    text-align: left;

    background-image: url("images/insideout2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lg-info {
    position:absolute;
    bottom: 2em;
    left: 2em;
    color: black;
}

.lg-desc {
    max-width: 250px;
}

.lg-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.lg-btn {
    background-color: transparent;
    border:2px solid #8C443E;
    color: #8C443E;;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border-radius: 20px;
    height: 35px;
    width: 90px;
    top: 87%;

}
#add-list {
    position:absolute;
    border: none;
    background-color: #8C443E;
    color: white;
    outline-color: #8C443E;
    left: 90%;
}
#add-list:hover {
    box-shadow: 0 8px 16px 0 #8C443E;
}

#review-rating {
    position:absolute;
    left: 81%;
}
#review-rating:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

#age-rating {
    position:absolute;
    left: 72%;
}
#age-rating:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}