.movie-list img {
  height: 100%;
  width: 100%;
}

.scroll {
    height: 816px;
}

h1 {
    font-family: "Crimson Text", serif;
    font-weight: 800;
    font-style: normal;
    font-size: larger;
}

h3 {
    font-family: "Crimson Text", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size:22px;
}

.movie-container {
    background-color: #FEF7FF;
}